$primary-dark: black;
$primary-light: white;
$primary-grey: grey;
$primary-red: red;
$primary-orange: orange;
$primary-dark-grey: rgb(46, 46, 46);



$max-width: 100%;
$container-width: 95%;

$post-img-width-height: 30px;
$primary-padding-bottom: 0.25em;
$primary-margin-bottom: 0.75em;

